/*variables*/
/*global styles*/
* {
  box-sizing: border-box; }

body {
  font-family: "Raleway",Arial, Helvetica, sans-serif;
  height: 100%; }

.content-hr {
  width: 5rem;
  border-bottom: 2px solid #00e0d0;
  margin-bottom: 3rem; }

/*navigation*/
#navigation .navbar-brand {
  color: #435769;
  font-weight: 700;
  font-family: 'Berkshire Swash',cursive;
  text-transform: capitalize;
  font-size: 2rem; }

#navigation .navbar-toggler {
  color: #435769;
  background-color: transparent; }

#navigation .nav-item {
  color: #435769;
  font-weight: 700; }

#navigation .nav-item .nav-link:active, #navigation .nav-item .nav-link:hover, #navigation .nav-item .nav-link:focus {
  border-bottom: 2px solid #fedcd2; }

#banner .carousel-indicators li {
  background-color: #fedcd2; }

#banner .carousel-indicators li:active, #banner .carousel-indicators li:hover, #banner .carousel-indicators li:focus {
  background-color: #df744a; }

#banner .carousel-control-prev-icon, #banner .carousel-control-next-icon {
  color: #00e0d0; }

#banner .carousel-inner > .carousel-item {
  background: #222 url("../assets/img/dairy_cow.jpg") no-repeat center center scroll;
  background-size: cover;
  height: 100vh;
  min-height: 300px; }
  #banner .carousel-inner > .carousel-item .carousel-caption {
    top: 30%;
    text-align: center;
    color: #435769; }
    #banner .carousel-inner > .carousel-item .carousel-caption .display-5 {
      color: #df744a;
      font-family: 'Berkshire Swash',cursive;
      font-size: 3rem; }
    #banner .carousel-inner > .carousel-item .carousel-caption .btn-outline-secondary {
      color: #df744a;
      border: 1px solid #00e0d0; }
    #banner .carousel-inner > .carousel-item .carousel-caption .btn-outline-secondary:active, #banner .carousel-inner > .carousel-item .carousel-caption .btn-outline-secondary:hover, #banner .carousel-inner > .carousel-item .carousel-caption .btn-outline-secondary:focus {
      border: 1px solid #df744a;
      background: #fedcd2; }

/*content*/
#feature-content {
  padding: 5rem 0;
  background: #f2f1f8 url("../assets/img/pink_rice.png") no-repeat;
  background-size: cover;
  background-position: right center;
  height: 100%; }
  #feature-content .col-md-6 {
    padding-left: 2rem; }
  #feature-content .content-title {
    font-family: 'Berkshire Swash';
    font-size: 2rem;
    font-weight: 400; }
  #feature-content .content-hr {
    width: 5rem;
    border-bottom: 2px solid #00e0d0;
    margin-bottom: 3rem; }
  #feature-content .content-text .content-icon {
    padding-right: 1rem; }
    #feature-content .content-text .content-icon .fas {
      color: #df744a; }
  #feature-content .content-text .content-body {
    padding-left: 3.5rem;
    padding-bottom: 1.35rem; }
    #feature-content .content-text .content-body .text-content {
      color: #435769;
      font-weight: 700;
      font-size: 1.25rem;
      padding-left: .85rem; }
    #feature-content .content-text .content-body .text-content:active, #feature-content .content-text .content-body .text-content:hover, #feature-content .content-text .content-body .text-content:focus {
      text-decoration: none;
      color: #df744a; }
    #feature-content .content-text .content-body .lead {
      color: #9b9b9b;
      font-size: .85rem;
      padding-top: 1rem;
      padding-left: .85rem;
      font-weight: 700;
      line-height: 1.5; }

/*products*/
#products {
  padding: 5rem 0;
  background-color: #f2f1f8; }

/*gallery-box*/
.gallery-block {
  padding-bottom: 60px;
  padding-top: 60px; }

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  font-weight: 400;
  font-size: 2rem; }

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase; }

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; }

.gallery-block.cards-gallery .card {
  transition: 0.4s ease; }

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); }

.gallery-block.cards-gallery .card-body {
  text-align: center; }

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; }

.gallery-block.cards-gallery a {
  color: #212529; }

.gallery-block.cards-gallery a:hover {
  text-decoration: none; }

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); }

@media (min-width: 576px) {
  .gallery-block .transform-on-hover:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; } }

/*mdeia*/
#media {
  padding: 5rem 0;
  background-color: #f2f1f8; }
